{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>BioChallenge</title>

    <!-- CSS -->
    <link href="{% static "yarn/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "yarn/jquery-ui-dist/jquery-ui.min.css" %}" rel="stylesheet">
    <link href="{% static "yarn/@fortawesome/fontawesome-free/css/all.min.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="{% static "css/app.css" %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  {% block head %}{% endblock %}

  </head>
  
  <body id="page-top">
    {% block navigation %}
      {% include "header.html" %}
    {% endblock %}

    <div class="content">
    {% block content %}
    {% endblock %}
    </div>
    {% block footer %}
    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
	<div class="row">

          <!-- Footer Social Icons -->
          <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Around the Web</h4>
            <a class="btn btn-outline-light btn-social mx-1" href="#">
              <i class="fab fa-fw fa-facebook-f"></i>
            </a>
            <a class="btn btn-outline-light btn-social mx-1" href="#">
              <i class="fab fa-fw fa-twitter"></i>
            </a>
            <a class="btn btn-outline-light btn-social mx-1" href="#">
              <i class="fab fa-fw fa-linkedin-in"></i>
            </a>
            <a class="btn btn-outline-light btn-social mx-1" href="#">
              <i class="fab fa-fw fa-dribbble"></i>
            </a>
          </div>

          <!-- Footer About Text -->
          <div class="col-lg-4">
            <h4 class="text-uppercase mb-4">About BioChallenge</h4>
            <p class="lead mb-0">BioChallenge was created
            at <a href="http://2019.biohackathon.org">BioHackathon 2019</a>.</p>
          </div>

	</div>
      </div>
    </footer>


    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
	<i class="fa fa-chevron-up"></i>
      </a>
    </div>
    {% endblock %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "yarn/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "yarn/jquery-ui-dist/jquery-ui.min.js" %}"></script>
    <script src="{% static "yarn/popper.js/dist/umd/popper.min.js" %}"></script>
    <script src="{% static "yarn/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>

    {% block scripts %}
    {% endblock %}
    </script>
  </body>
</html>
