{% extends 'base.html' %}

{% block content %}

<section class="page-section">
  <div class="container">

    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contacts</h2>

    <!-- Icon Divider -->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p class="lead">
          For open discussion about the challenges, or finding
          collaboration partners to join a team, you can join our Mattermost
          discussion group using this signup link:
          <a target="_blank" href="https://mattermost.cbrc.kaust.edu.sa/signup_user_complete/?id=5e5s8uos7pyr8fq7u8muisfaxr">https://mattermost.cbrc.kaust.edu.sa/signup_user_complete/?id=5e5s8uos7pyr8fq7u8muisfaxr</a>
          
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="lead">
          If you find any issues on the challenge website, please use
          the issue tracker at <a target="_blank" href="https://github.com/bio-ontology-research-group/biochallenge/issues">
          https://github.com/bio-ontology-research-group/biochallenge</a>
        </p>
        <p>
          For any other comments and questions, please contact one of
          the organizers:
	  <ul>
	    <li><a href="mailto:callahantiff@gmail.com">Tiffany Callahan</a></li>
	    <li><a href="mailto:ktym@dbcls.jp">Toshiaki Katayama</a></li>
	    <li><a href="mailto:shuichi.kawashima@gmail.com">Shuichi Kawashima</a></li>
	    <li><a href="mailto:maxat.kulmanov@kaust.edu.sa">Maxat Kulmanov</a></li>
	    <li><a href="mailto:robert.hoehndorf@kaust.edu.sa">Robert Hoehndorf</a></li>
	  </ul>
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
