{% extends 'base.html' %}

{% block content %}
<div class="ibox-body" style="padding-bottom: 300px;">
  <div class="tab-content">
    <div class="tab-pane fade show active" style="padding-bottom: 200px;">
      <p class="mb-5">
	We accept dataset submissions for the integration of the
	Bio2Vec platform.<br><br> Please contact us
	at<font color="red"> <b>bio2vec@gmail.com </b></font>for data
	preparation and submission or any questions relevant to
	Bio2vec.
      </p>
    </div>
  </div>
</div>{% endblock %}
