{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
<!-- Portfolio Section -->
<section class="page-section portfolio" id="portfolio">
  <div class="container">

    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">BioChallenges</h2>

    <!-- Icon Divider -->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>


  </div>
</section>

<!-- About Section -->
<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">

    <!-- About Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

    <!-- Icon Divider -->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- About Section Content -->
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">BioChallenge is a continuous, time-based evaluation of
         prediction methods using public SPARQL endpoints. It allows
         to define challenges through providing a SPARQL andpoint and
         query which are expected to yield new associations over
         time.</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">We evaluate methods in different tasks such as
	protein function prediction, gene-disease association </p>
      </div>
    </div>

  </div>
</section>

{% endblock %}

{% block scripts %}
{% endblock %}
