{% extends 'base.html' %}

{% block content %}
<div class="ibox ibox-fullheight">
  <div class="ibox-head">
    <div class="ibox-title">Publications</div>
  </div>
  <div class="ibox-body">
    <ul class="list-group list-group-divider faq-tabs">
      <li class="list-group-item">
        <a class="active"
           href="https://academic.oup.com/bioinformatics/article/34/4/660/4265461"
           target="_blank">
	  <i class="badge-point badge-primary mr-3"></i>Kulmanov M, Khan MA,
          Hoehndorf R (2017)&nbsp;DeepGO:</a>
        <p> Predicting protein functions from sequence and
          interactions using a deep ontology-aware
          classifier.&nbsp;Bioinformatics&nbsp;btx624.
        </p>
      </li>
      <li class="list-group-item">
        <a class="active"
           href="https://academic.oup.com/bioinformatics/article/33/17/2723/3760100"
           target="_blank"><i class="badge-point
				     badge-primary mr-3"></i>Neuro-symbolic
          representation learning on biological knowledge
          graphs:</a>
        <p>Alshahrani M, Khan MA, Maddouri O, Kinjo AR,
          Queralt-Rosinach N, Hoehndorf R
          (2017)&nbsp;.&nbsp;Bioinformatics&nbsp;btx275.&nbsp;

        </p>
      </li>
      <li class="list-group-item">
        <a class="active"
           href="https://docs.google.com/viewer?a=v&amp;pid=sites&amp;srcid=ZGVmYXVsdGRvbWFpbnxsaW5rZWRhbm5vdGF0aW9uNHxneDoyMTRhYzQyYzZhMTVkMTc"
           target="_blank"><i class="badge-point
				     badge-primary mr-3"></i> Mining linked annotations
          and Linked Data:</a>
	<p>Senay Kafkas, Mona Alshahrani and Robert Hoehndorf
	  (2018).Biomedical Linked Annotation Hackathon 4, 10-13 January 2018,
	  Kashiwa, Japan.

        </p>
      </li>
    </ul>
    
  </div>
</div>
{% endblock %}
