{% extends 'challenge/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <a
	href="{% url "challenge_submit" object.pk %}"
	class="btn btn-primary btn-lg float-right">
	Submit
      </a>
    </div>
    <div class="col-6">
      <h2>{{ object.name }}</h2>
      <img class="img-fluid" src="{{ object.image.url }}"/>
      <p>{{ object.description }}</p>
      <a class="btn btn-primary btn-lg" href="{{ object.release.get_data_url }}">Download</a>
    </div>
    <div class="col-6">
      <strong> Endpoint: {{ object.sparql_endpoint }} </strong>
      <pre><code>{{ object.sparql_query }}</code></pre>
    </div>
  </div>
</div>
{% endblock %}
